
@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script>
        $(document).ready(function () {
         
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'agendaDay',
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                lang: 'pt-br'
                //events: '/Home/GetDiaryEvents/',
                //eventClick: function (calEvent, jsEvent, view) {
                //    alert('You clicked on event id: ' + calEvent.id
                //        + "\nSpecial ID: " + calEvent.someKey
                //        + "\nAnd the title is: " + calEvent.title);

            });
        });
    </script>
}

<div class="container">

    <div>
        <a href="#" id="btnInit" class="btn btn-secondary">Initialise database!</a>
    </div>

    <div id='calendar' style="width:65%"></div>

</div>
