<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="Diary" connectionString="metadata=res://*/Diary.csdl|res://*/Diary.ssdl|res://*/Diary.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NBBV022006;initial catalog=FullCalendarMVC_Demo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
